<div data-controller="railsui-dropdown" class="relative inline-block" onclick="event.stopPropagation();">
    <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="btn btn-light inline-flex items-center h-[38px]">
        <%= icon "ellipsis-vertical", :variant => :solid, class: "size-5" %>
    </button>
    <div
    class="hidden transition transform origin-top-left absolute right-0 top-10 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 md:w-[200px] w-full z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 md:text-sm text-base font-medium text-slate-600 dark:text-slate-200 divide-y dark:divide-slate-500/75"
    data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
    onclick="event.stopPropagation();"
    >
        <div role="none" class="pb-1">
            <%= dropdown_item("pencil-square", "Edit", 
                edit_admin_reservation_path(
                    reservation,
                    room_id: reservation.room_id,
                    start_date: reservation.start_date,
                    end_date: reservation.end_date,
                    start_time: reservation.start_time&.strftime("%H:%M"),
                    end_time: reservation.end_time&.strftime("%H:%M")
                ),
                data_testid: "edit-reservation"
            ) %>
            <%= dropdown_item("eye", "Show", admin_reservation_path(reservation), data_testid: "show-reservation") %>
        </div>
        <div role="none" class="pt-1 text-red-600">
            <%= dropdown_item("trash", "Delete", 
                admin_reservation_path(reservation), 
                method: :delete,
                data_testid: "delete-reservation"
            ) %>
        </div>
    </div>
</div> 