<h1 class="text-2xl font-semibold mb-4">Edit Reservation</h1>

<%= render "form", reservation: @reservation %>

<%= link_to "Back", admin_room_reservation_path(@reservation.room, @reservation), class: "bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg" %>
