<% if reservation.pending? %>
    <div data-controller="railsui-modal">
        <button type="button" 
                data-action="click->railsui-modal#open" 
                class="flex items-center gap-2 btn btn-dark h-10" 
                tabindex="0">
            <%= icon "x-mark", class: "size-5" %>
            Cancel
        </button>
        <div
            aria-labelledby="cancel-modal-title"
            aria-modal="true"
            data-railsui-modal-target="container"
            class="hidden fixed inset-0 z-50 overflow-y-auto"
            role="dialog">
            <div class="h-screen w-full relative flex items-center justify-center">
            <div
                data-railsui-modal-target="content"
                data-action="keyup@window->railsui-modal#closeWithEsc"
                data-transition-enter-active="transition ease-out duration-300"
                data-transition-enter-from="transform opacity-0 scale-95"
                data-transition-enter-to="transform opacity-100 scale-100"
                data-transition-leave-active="transition ease-in duration-300"
                data-transition-leave-from="transform opacity-100 scale-100"
                data-transition-leave-to="transform opacity-0 scale-95"
                class="hidden rounded mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 p-6 origin-bottom md:flex items-start relative gap-4 dark:bg-slate-700 dark:text-slate-200">
                <div class="flex items-start gap-4 w-auto">
                <button type="button" 
                        class="absolute top-2 right-2 size-8 bg-transparent hover:bg-slate-50 flex items-center justify-center rounded-full group dark:hover:bg-slate-50/50" 
                        data-action="click->railsui-modal#close">
                    <%= icon "x-mark", class: "text-slate-400 size-6 group-hover:text-slate-500 pointer-events-none dark:group-hover:text-slate-800 dark:text-slate-400" %>
                </button>
                <div class="size-8 w-auto rounded-full bg-yellow-50 flex items-center justify-center dark:bg-yellow-500/30">
                    <%= icon "exclamation-circle", class: "size-6 text-yellow-600 flex-shrink-0 dark:text-yellow-300" %>
                </div>

                <div class="flex-1">
                    <h3 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Cancel Reservation</h3>

                    <div class="prose prose-slate dark:prose-invert mb-6 mt-2 pr-6">
                        <p>Are you sure you want to cancel this reservation? This action cannot be undone.</p>
                    </div>

                    <div class="flex justify-end items-center space-x-3">
                    <button class="btn btn-light" data-action="click->railsui-modal#close">Cancel</button>
                    <%= button_to "Cancel Reservation", 
                        reservation_path(reservation.slug), 
                        method: :patch,
                        params: { reservation: { status: "canceled" } },
                        class: "btn bg-yellow-600 text-white focus:ring-yellow-100 hover:bg-yellow-700 hover:shadow-sm hover:shadow-slate-600/10" %>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<% end %>