<section class="w-full flex flex-col items-center h-full">
    <div class="flex flex-col gap-4 w-full h-full" data-controller="carousel">
        <div class="flex justify-center items-center w-full h-full overflow-hidden relative">
            <div class="carousel w-full h-full relative" data-carousel-target="carousel">
                <% images.each_with_index do |image, index| %>
                    <img alt="Room Image" 
                         class="carousel-item absolute top-0 left-0 w-full h-full object-cover transition-opacity duration-500 ease-in-out <%= index == 0 ? 'opacity-100' : 'opacity-0' %>" 
                         src="<%= image %>" 
                         data-index="<%= index %>">
                <% end %>
            </div>
            <% if images.length > 1 %>
                <button class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white rounded-full p-2 z-10" data-action="click->carousel#prev">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <button class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white rounded-full p-2 z-10" data-action="click->carousel#next">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
                <div data-carousel-target="indicator" class="flex justify-center gap-2 absolute bottom-5 left-0 right-0 mx-auto">
                </div>
            <% end %>
        </div>
    </div>
</section>
