<%# <div class="" data-controller="filter_form"> %>
    <%= form.send(field_type, field, value: params[field], class: "form-input h-10 p-2 pl-4 pr-4 rounded-lg w-full mb-4", data: { action: "change->filter_form#submit", testid: "#{field}_input" }) %>
<%# </div> %>
