<% class_name = local_assigns[:class_name] || "text-gray-500" %>
<% icon_name = local_assigns[:icon_name] || "cube" %>
<% icon_size = local_assigns[:icon_size] || "size-10" %>
<% message = local_assigns[:message] || "No data found" %>

<div class="flex flex-col gap-2 h-full w-full justify-center items-center <%= class_name %> p-6">
    <%= icon(icon_name, class: icon_size) %>
    <%= message %>
</div>
