<%= link_to root_path, class: "size-12 flex justify-center" do %>
    <img src="<%= asset_path('roomify/logo.svg') %>" alt="Roomify Logo" class="w-12 h-auto text-primary-600 hover:text-primary-700 duration-300 transition ease-in-out dark:hover:text-primary-500">
    <span class="sr-only">Hound</span>
<% end %>