<div class="rounded-lg bg-primary-950 w-full aspect-[4/3] overflow-hidden shadow-md relative">
    <% if @room.images.attached? %>
        <div class="h-full">
            <%= render "shared/carousel", images: @room.images.map { |img| url_for(img) }, alt: "Room Image" %>
        </div>
    <% else %>
        <%= render "shared/empty_state", 
                class_name: "text-gray-300", 
                message: "No images." 
            %>
    <% end %>
</div>