<div class="container mx-auto px-4 py-8">
  <div class="min-h-[calc(100vh-48px)] flex items-center justify-center bg-gray-100">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-gray-900 mb-4">404</h1>
      <p class="text-xl text-gray-600 mb-8">Page not found</p>
      <p class="text-gray-500 mb-8">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
      <%= link_to "Go back to home", root_path, class: "btn btn-secondary p-3 text-lg" %>
    </div>
  </div>
</div> 