.ts-control {
    min-height: 42px;
    font-size: 16px;
}

.ts-control .items-placeholder{
    font-size: 16px;
}

.plugin-clear_button:not(.disabled):hover.has-items .clear-button {
    font-size: 1.25rem; 
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;    
    background-color: #f3f4f6; 
    cursor: pointer;
}

.plugin-clear_button .clear-button {
    font-size: 1.25rem; 
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;    
    background-color: #f3f4f6; 
    cursor: pointer;
}

.ts-control .clear-button:hover {
    background-color: #e5e7eb;
}

.ts-control .clear-button {
    height: 20px;
    width: 20px;
}

.ts-dropdown.multi {
    border-radius: 8px;
}

.ts-wrapper.contacts .ts-control > div .email {
	opacity: 0.7;
}
.ts-wrapper.contacts .ts-control > div .name + .email {
	margin-left: 5px;
}
.ts-wrapper.contacts .ts-control > div .email:before {
	content: '<';
}
.ts-wrapper.contacts .ts-control > div .email:after {
	content: '>';
}

.ts-wrapper.contacts .ts-control > div .email:after {
	content: '>';
}

.ts-wrapper.contacts .ts-dropdown {
	font-size: 14px;
	display: block;
	color: #a0a0a0;
    overflow: hidden;
    border-radius: 8px;
}

.ts-dropdown .option.active {
    background-color: #f9fafb; 
}

.ts-dropdown .option {
    display: flex;        
    height: 36px;
    justify-content: flex-start; 
    align-items: center;      
}
.ts-wrapper.contacts .ts-dropdown .label {
	font-size: 16px;
    color: #1f2937;
    padding-right: 2px;
} 
.ts-dropdown .dropdown-input-wrap {
    border: 0;
}  