.ts-control {
    min-height: 42px;
    font-size: 16px;
}

.ts-dropdown.multi {
    border-radius: 8px;
}

.ts-wrapper.contacts .ts-control > div .email {
	opacity: 0.7;
}
.ts-wrapper.contacts .ts-control > div .name + .email {
	margin-left: 5px;
}
.ts-wrapper.contacts .ts-control > div .email:before {
	content: '<';
}
.ts-wrapper.contacts .ts-control > div .email:after {
	content: '>';
}

.ts-wrapper.contacts .ts-control > div .email:after {
	content: '>';
}

.ts-wrapper.contacts .ts-dropdown {
	font-size: 14px;
	display: block;
	color: #a0a0a0;
    overflow: hidden;
    border-radius: 8px;
}

.ts-dropdown .option.active {
    background-color: #f9fafb; 
}

.ts-dropdown .option {
    display: flex;        
    height: 36px;
    justify-content: flex-start; 
    align-items: center;      
}
.ts-wrapper.contacts .ts-dropdown .label {
	font-size: 16px;
    color: #1f2937;
    padding-right: 2px;
} 
.ts-dropdown .dropdown-input-wrap {
    border: 0;
}