<div class="container mx-auto px-6">
    <nav aria-label="breadcrumb" class="mt-6 font-medium flex text-slate-500 dark:text-slate-200 text-sm">
        <ol class="flex flex-wrap items-center space-x-3 list-none m-0 p-0">
            <li>
                <%= link_to "Home", root_path, class: "hover:underline hover:text-slate-600 dark:hover:text-slate-400" %>
            </li>
            <% path_segments = request.path.split('/').reject(&:empty?) %>
            <% path_segments.each_with_index do |segment, index| %>
                <li class="flex space-x-3">
                    <div class="flex items-center">
                        <span class="text-slate-300 dark:text-slate-500">/</span>
                    </div>
                    <% if index == path_segments.length - 1 %>
                        <span class="text-primary-500 dark:text-primary-500" aria-current="page">
                            <%= segment %>
                        </span>
                    <% else %>
                        <%= link_to segment, "#{path_segments[0..index].join('/').prepend('/')}", class: "hover:underline hover:text-slate-600 dark:hover:text-slate-400" %>
                    <% end %>
                </li>
            <% end %>
        </ol>
    </nav>
</div>
