<div class="rounded-lg bg-primary-950 h-[24rem] overflow-hidden w-full shadow-md relative">
    <% if @room.images.attached? %>
        <div class="h-full">
            <%= render "shared/carousel", images: @room.images.map { |img| url_for(img) }, alt: "Room Image" %>
        </div>
    <% else %>
        <div class="flex flex-col gap-2 h-full w-full justify-center items-center p-6">
            <%= render "shared/empty_state", 
                class_name: "text-gray-300",
                message: "No images." 
            %>
        </div>
    <% end %>
</div>