<div class="w-full flex flex-col bg-white gap-4 rounded-lg p-4 shadow-md min-h-fit">
    <% if @current_reservation.present? %>
        <%= render "user/rooms/component/reservation_current_room" %>
    <% else %>
        <%= render "user/rooms/component/reservation_next_room" %>
    <% end %>
</div>
