<div class="w-full flex flex-col bg-white gap-4 rounded-lg p-4 shadow-md min-h-fit">
    <% if @room.status == "unavailable" %>
        <%= render "shared/reservation_unavailable" %>
    <% else %>
        <% if @current_reservation.present? %>
            <%= render "admin/rooms/component/reservation_current_room" %>
            <%= render "admin/reservations/component/check_in_btn", reservation: @current_reservation %>
        <% else %>
            <%= render "admin/rooms/component/reservation_next_room" %>
        <% end %>
    <% end %>
</div>
